@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font-style {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}



/* colors */
.primary-color {
    color: #FF900E;
}

/* Black */
.secondary-color {
    color: #131313;
}

/* grey color */
.text-grey {
    color: #424242;
}

/* Background color */
.bg-color {
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-1 {
    background-color: #FF900E;
    color: white;
    padding: 14px 40px;
    border: none;
    border-radius: 8px;

}



/* shared styles */
.display-flex {
    display: flex;
}

/* menu styling */
.menu-items {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    margin-right: 30px;
    font-weight: 500;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    
}

.nav-item {
    
}

/* brand logo/name */
.brand-name {
    font-size: 2rem;
    font-weight: 600;
}


.section-width {
    max-width: 1440px;
    max-height: auto;
    margin: 0 auto;
}


/* Hero section styling */
.hero-banner {
    max-width: 1440px;
    max-height: auto;
    margin: 0 auto;
}

.hero-content {
    width: 850px;
    height: 225px;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}

.hero-title {
    font-size: 4rem;
    font-weight: 700; 
    color: #131313;
}

.hero-description {
    color: #424242;
    margin-bottom: 30px; 
    margin-top: -20px;  
}

.hero-image {
    width: 100%;
    margin-top: 130px;
}

/* .main-header {
    padding-bottom: 500px;
} */

header {
    padding-bottom: 50px;
}


/* 2nd section start*/
.second-section {

}

.main-div {
    display: flex;
    padding: 80px 0 100px 0;
    max-width: 1440px;
    margin: 0 auto;
    gap: 50px;
    align-items: center;
}

.image-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.feature-div {
    /* display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center; */
}


/* all span styles */
.span-1 {
    font-size: 2.8rem;
    font-weight: 400;
    color: #424242;
}

.span-2 {
    font-size: 2.8rem;
    font-weight: 600;
    color: #131313;
}

.span-3 {
    font-size: 2.8rem;
    font-weight: 600;
    color: #FF900E;
}

.feature-description {
    color: #424242;
    margin: 10px 0 20px 0;
}

.feature-div {
    width: 540px;
}


 /* Forth section start */
.fact-main-div {
    max-width: 1440px;
    margin: 0 auto;
}

.fact-subtitle {
    font-size: 2.8rem;
    font-weight: 600;
    color: #131313;
}

.fact-paragraph {
    color: #424242;
    width: 540px;
    margin-top: -25px;
    
}

/* card styles */
/* .fact-info {
    display: flex;
} */

.fact-card {
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 240px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

/* .for-flex {
    display: flex;
    justify-content: center;
    align-items: center;
 } */


.fact-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 40px;
    justify-content: center; 
}

.fact-title {
    color: #131313;
    font-size: 2rem;
    margin: 15px 0;
}

.fact-description {
    font-size: 1.2rem;
    margin: 5px;
    color: #424242;
}


/* Header Responsive */
@media screen and (max-width: 576px) {
    header {
    padding-bottom: 20px;
    }

    .navbar {
        flex-direction: column;
    }

    .hero-content {
        width: 100%;
    }

    .hero-title {
    font-size: 2.5rem;
    }

    .hero-image {
    width: 100%;
    margin-top: 50px;
    }



    /* 2nd section responsive */
    .main-div {
    flex-direction: column;
    padding: 50px 0 40px 0;
    gap: 20px;
    }

    .image-div {
    grid-template-columns: repeat(1, 1fr);
    }

    .feature-div, .fact-subtitle, .fact-paragraph {
    width: 100%;
    margin-left: 20px;
    }

    /* Forth/fact section responsive */
    .fact-info {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;  
        gap: 10px;
     }  

     .fact-section {
        padding-bottom: 120px;
     }

}


