@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font-style {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}



/* colors */
.primary-color {
    color: #FF900E;
}

/* Black */
.secondary-color {
    color: #131313;
}

/* grey color */
.text-grey {
    color: #424242;
}

/* Background color */
.bg-color {
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-1 {
    background-color: #FF900E;
    color: white;
    padding: 14px 40px;
    border: none;
    border-radius: 8px;

}



/* shared styles */
.display-flex {
    display: flex;
}

/* menu styling */
.menu-items {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    margin-right: 30px;
    font-weight: 500;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    
}

.nav-item {
    
}

/* brand logo/name */
.brand-name {
    font-size: 2rem;
    font-weight: 600;
}


.section-width {
    max-width: 1440px;
    max-height: auto;
    margin: 0 auto;
}


/* Hero section styling */
.hero-banner {
    max-width: 1440px;
    max-height: auto;
    margin: 0 auto;
}

.hero-content {
    width: 850px;
    height: 225px;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}

.hero-title {
    font-size: 4rem;
    font-weight: 700; 
    color: #131313;
}

.hero-description {
    color: #424242;
    margin-bottom: 30px; 
    margin-top: -20px;  
}

.hero-image {
    width: 100%;
    margin-top: 130px;
}

/* .main-header {
    padding-bottom: 500px;
} */

header {
    padding-bottom: 50px;
}

/* Header Responsive */
@media screen and (max-width: 576px) {
    .navbar {
        flex-direction: column;
    }

    .hero-content {
        width: 100%;
    }

    .hero-title {
    font-size: 2.5rem;
    }

    .hero-image {
    width: 100%;
    margin-top: 50px;
    }
}